<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" th:lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head th:replace="admin/common/layout :: admin-header-link"></head>

<body>
    <!-- Begin page -->
    <div id="wrapper">
        <!-- Begin page -->
        <div class="wrapper-page">
            <div class="card">
                <div class="card-body">
                    <!-- <h3 class="text-center m-0">
                        <a href="index-2.html" class="logo logo-admin"><img src="assets/images/logo.png" height="30" alt="logo"></a>
                    </h3> -->
                    <!-- test -->
                    <div class="p-3">
                    <div th:if='${message}' class="alert alert-card alert-danger"
								role="alert" id="msg">
								<span th:text="${message}"></span>
								<button class="close" type="button" data-dismiss="alert"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
                        <h4 class="text-muted font-18 m-b-5 text-center">Change Password</h4>
                        <p class="text-center"> </p>
                        
						
                        <form id="insert">
                            <div class="form-group">
                                <label for="username">Old Password</label>
                                 <span style="color:red;font-size:15px">*</span>
                                <input type="password" class="form-control" name="oldPass" required="required" id="oldPass" placeholder="Enter Old Password">
                            </div>
                            <div class="form-group">
                                <label for="userpassword">New Password</label>
                                 <span style="color:red;font-size:15px">*</span>
                                <input type="password" class="form-control" name="newPass" required="required" id="newPass" placeholder="Enter New Password">
                            </div>
                              <div class="form-group">
                                <label for="userpassword">Confirm Password</label>
                                 <span style="color:red;font-size:15px">*</span>
                                <input type="password" class="form-control" name="confirmPass" required="required" id="confirmPass" placeholder="Enter Confirm Password">
                            </div>
                            <div class="form-group row m-t-20">
                                
                                <div class="col-8 text-right">
                                    <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Save</button>
                                </div>
                            </div>
                             
                        </form>
                        </div>
                    </div>
                     </div>
                </div>
            </div>
     
    <div th:replace="admin/common/layout :: admin-footer-link"></div>
 <script type="text/javascript">
 
 $(document).on('blur', '#oldPass', function()
 {
// 	  alert("Old Password Entered");
	  var oldPass = $("#oldPass").val();
// 	  alert(oldPass)
	  if(oldPass)
	  {
//  		  alert(oldPass)
		  $.ajax({
	            type: "ajax",
	            method: "POST",
	            url: "/admin/check-old-password",
	            data: {oldPass:oldPass},           	           
	            async : false,
	            cache: false,
				dataType : 'json',
	            success: function(data) {             
	            	if(data.status != "True")
	            	{
 	            		alert(data.message);	
 	            		$("#insert")[0].reset();
 	            		$("#oldpass").focus();
	            	}
	            	
	            	
	            },
	            error: function() {
	                alert('could not insert');
	            }
	        });
	  }
	  
	});
 
 $(document).on('submit', '#insert', function(e) {
	 var newPass = $("#newPass").val();
	 var confirmPass = $("#confirmPass").val();
     e.preventDefault();
     if(newPass === confirmPass)
     {
	     $.ajax({
	         type: "ajax",
	         method: "POST",
	         url: "/admin/change-admin-password",
	         data: new FormData(this),
	         processData: false,
	         contentType: false,
	         cache: false,
	         beforeSend: function() {
	             $(".submit").prop('disabled', true);
	         },
	
	         success: function(data) {
	            
	            if(data.status === 'True')
	            {
	            	$(".submit").prop('disabled', true);
	            	alert("Password Changed")
	            	window.location = "/admin/dashboard";
	            }
	             
	         },
	         error: function() {
	             alert('could not insert');
	         }
	     });
    }
    else
    {
    	alert("New Password & confirm password mismatch"); 
    }
 });

	
</script>
    
</body>

</html>
